{%- if story_summary -%}
# Story Summary

{{ story_summary }}

{% endif -%}
{%- if story_opening -%}
# Story Opening

{{ story_opening }}

{% endif -%}
{%- if recent_story -%}
# Recent Story

{{ recent_story }}

{% endif -%}
# Immediate Story Goal

{{ story_goal }}

# Pending Player Contribution

{{ player_contribution }}
