{%- if story_summary -%}
## Story Summary

{{ story_summary }}

{% endif -%}
{%- if story_opening -%}
## Story Opening

{{ story_opening }}

{% endif -%}
{%- if recent_story -%}
## Recent Story

{{ recent_story }}

{% endif -%}
## Pending Player Input

{{ player_input }}
