{%- if story_summary -%}
## Previous Story Summary

{{ story_summary }}

{% endif -%}
{%- if story_opening -%}
## Story Opening

{{ story_opening }}

{% endif -%}
## Story To Summarize

{{ story_to_summarize }}
